<li class="nav-item-hidden js-nav-item-hidden">
    {{> _pages/html5/tutoriel-application-web-offline-html5-cache-manifest/link }}{{{ global.html5/tutoriel-application-web-offline-html5-cache-manifest.short-title }}}</a>
</li>
