Cet exemple illustre l'utilisation de la propriété CSS3 <code>box-shadow</code>, qui permet d'ajouter une ombre derrière un élément, ou à l'intérieur d'un élément. Cette démonstration affiche deux blocs, l'un donne une impression de volume et l'autre de creux :

<p></p>

{{> _pages/demo/exemple-dombre-en-css3-avec-box-shadow/demo/link }}Démonstration d'ombre CSS3 avec box-shadow</a>.

<p></p>

Ces effets peuvent être obtenus en suivant l'article {{> _pages/css3/ombre-css3-box-shadow/link }}Les ombres en CSS3 avec box-shadow</a>, qui détaille exhaustivement l'utilisation de cette propriété CSS3.

<p></p>

Code source de la démonstration :

<script src="https://gist.github.com/verekia/1f3a99c72fb773d7238d83d97adb3e35.js"></script>
