{{> _components/head }}
        {{> _components/sidebar }}
        {{> _components/main }}
                {{> _components/articletop }}
                    {{{ local.full-title }}}
                {{> _components/aftertitle }}
                {{> _pages/demo/exemple-dombre-en-css3-avec-box-shadow/content }}
                {{> _components/beforedate }}
                {{> _pages/demo/exemple-dombre-en-css3-avec-box-shadow/date }}
                {{> _components/articlebottom }}
{{> _components/bottom }}
