Le W3C vient de publier le logo officiel d'HTML5. Il a été réalisé par les designers d'<a href="http://ocupop.com/">Ocupop</a>, qui doivent probablement être de grands fans de Superman ou des combats de chevaliers aux boucliers étincelants :

<a href="/_pages/html5/logo-html5-officiel-w3c/img/logo-html5-officiel-w3c.png" target="_blank">
<img src="/_pages/html5/logo-html5-officiel-w3c/img/logo-html5-officiel-w3c.png" style="height: 300px" alt="Logo HTML5" title="Logo HTML5" />
</a>

Surprenant n'est-ce pas ? La description qu'en fait le W3C est tout aussi épique que le logo lui-même :

<blockquote style="margin:20px 15%; font-style:italic;">It stands strong and true, resilient and universal as the markup you write. It shines as bright and as bold as the forward-thinking, dedicated web developers you are. It's the standard's standard, a pennant for progress. And it certainly doesn't use tables for layout.
We present an HTML5 logo.</blockquote>

Certains trouveront l'approche prétentieuse ou trop décalée, ou le logo laid et inutilisable. Pour ma part, je m'y suis rapidement habitué, et bien que ma première impression ait été assez négative, je trouve ce logo plutôt attachant et original. Les couleurs vivent et unies ont le mérite d'être marquantes, et d'avoir un rendu particulièrement bon dans le cas d'images de petites tailles. Un design plus complexe incluant des dégradés aurait un rendu de qualité moindre sur une icone de 16px de hauteur par exemple.

<p></p>

La <a href="http://www.w3.org/html/logo/">page officielle du logo sur le site du W3C</a> a le mérite d'avoir un design soigné et moderne, ce qui nous change de la documentation austère habituelle.

<p></p>

Il existe également un ensemble d'icones correspondant aux fonctionnalités HTML5 utilisées par votre site ou application web :

<a href="/_pages/html5/logo-html5-officiel-w3c/img/icones-html5.png" target="_blank">
<img src="/_pages/html5/logo-html5-officiel-w3c/img/icones-html5.png" alt="Icones HTML5" title="Icones HTML5" />
</a>

Ces icones peuvent être combinées au logo grâce au générateur de badges HTML5 officiel afin d'obtenir ce genre de badge pour votre site :

<a href="/_pages/html5/logo-html5-officiel-w3c/img/logo-html5-icones-badge-horizontal.png" target="_blank">
<img src="/_pages/html5/logo-html5-officiel-w3c/img/logo-html5-icones-badge-horizontal.png" alt="Logo HTML5 Icones Badge Horizontal" title="Logo HTML5 Icones Badge Horizontal" />
</a>

<a href="/_pages/html5/logo-html5-officiel-w3c/img/logo-html5-icones-badge-vertical.png" target="_blank">
<img src="/_pages/html5/logo-html5-officiel-w3c/img/logo-html5-icones-badge-vertical.png" style="width: 38px" alt="Logo HTML5 Icones Badge Vertical" title="Logo HTML5 Icones Badge Vertical" />
</a>

Le logo est sous licence <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported</a>, et vous êtes donc libre de le modifier et l'utiliser autant que vous le souhaitez.

<p></p>

Le logo et les icones sont disponibles en SVG et en PNG sous différentes déclinaisons sur le site officiel, et le site Espreson.net propose une <a href="http://espreson.net/file/HTML5_Logo_PSD.zip">version PSD du logo</a>. Le designer Peter Viszt a également réalisé une version du <a href="http://visztpeter.me/html5logo/">logo intégralement en CSS3</a>, et il existe déjà une <a href="http://graphism.fr/dj-les-parodies-du-logo-pour-le-html5">série de parodies</a> disponible sur Graphism.fr.

<p></p>

Je vous invite à partager vos impressions concernant ce logo et ces icones dans la section commentaires de cet article.
