{{> _components/head }}
        {{> _components/sidebar }}
        {{> _components/main }}
                {{> _components/articletop }}
                    {{{ local.full-title }}}
                {{> _components/aftertitle }}
                {{> _pages/html5/conferences-html5-devoxx-2010/content }}
                {{> _components/beforedate }}
                {{> _pages/html5/conferences-html5-devoxx-2010/date }}
                {{> _components/articlebottom }}
{{> _components/bottom }}
