If you like {{> _pages/leafadventure/link }} the music I make</a> (well, even if you don't!), I offer lessons over Skype in English or French. I can teach a wide variety of music production topics, including:

<ul>
    <li>Ableton Live</li>
    <li>Composition</li>
    <li>Sound Design</li>
    <li>Mixing and Mastering</li>
    <li>Marketing and Promotion</li>
    <li>Detailed feedback on your tracks</li>
</ul>

If you are a beginner, I can walk you through the essential things you need to know about music production to get started. If you have an intermediate or more advanced level, we can tailor the lessons based on your specific needs.

<p></p>

You can reach me at <a href="javascript:;" class="css-email-leaf js-email"></a> if you have any question. Cheers!