{{> _components/head }}
        {{> _components/sidebar }}
        {{> _components/main }}
                {{> _components/articletop }}
                    {{{ local.full-title }}}
                {{> _components/aftertitle }}
                {{> _pages/music-production-lessons/content }}
                {{> _components/beforedate }}
                {{> _pages/music-production-lessons/date }}
                {{> _components/articlebottom }}
{{> _components/bottom }}
