<div class="homepage-top-space"></div>

Welcome! I am Jonathan Verrecchia, a French {{> _pages/consulting/link }}freelance</a> {{> _pages/front-end/link }}Front-End Engineer</a>, electronic {{> _pages/leafadventure/link }}music producer</a>, and {{> _pages/zeromalist/link }}minimalist</a>. This site is where I document my projects.


<img class="full-size-img" src="{{> _components/images/jonathan-verrecchia-bridge }}">

I am on
<a target="_blank" href="{{{ global.external-links.twitter }}}">Twitter</a>,
<a target="_blank" href="{{{ global.external-links.linkedin }}}">LinkedIn</a>,
<a target="_blank" href="{{{ global.external-links.facebook }}}">Facebook</a>,
<a target="_blank" href="{{{ global.external-links.github }}}">GitHub</a>,
and my email is <a href="javascript:;" class="css-email js-email"></a>.
