<h1 class="text-center">{{{ global.consulting/development/contract/fr.short-title }}} <a href="javascript:window.print()" class="print-link">(PDF)</a></h1>
<div class="sep-48"></div>

Entre Jonathan VERRECCHIA ("je"), ingénieur en développement web indépendant et micro-entrepreneur, situé au 18 rue de l'Église, 94300, Vincennes, et {{{ global.consulting/development/contract/fr.company_name }}}, société située au {{{ global.consulting/development/contract/fr.company_address }}}, représentée par {{{ global.consulting/development/contract/fr.company_person }}} en qualité de {{{ global.consulting/development/contract/fr.company_person_role }}} ("vous").

<p></p>

Cet accord établit les termes de ma prestation pour vous. Il a pour but d'être clair et compréhensible, afin d'établir des bases transparentes et saines à notre collaboration.

<h2>Prestation effectuée</h2>

Je m'engage à mettre mon expertise en développement HTML et CSS au service de {{{ global.consulting/development/contract/fr.company_name }}} pendant toute la durée de ma prestation. Vous pouvez ainsi solliciter cette expertise sous forme de développement, de conseil, d'audit, ou de formation. Mon expertise couvre des sujets variés comme l'architecture CSS, la performance, le référencement, l'accessibilité, ou encore le design <em>responsive</em>. Mes développements HTML et CSS suivent les meilleures pratiques du développement web, sont simples à maintenir et intégrer, et sont conformes aux standards actuels.

<h2>Durée dynamique</h2>

La durée de ma prestation pour vous est dynamique et vous pouvez ajuster cette durée comme bon vous semble au fil de celle-ci. Nous évaluerons ensemble une durée estimative avant de commencer, puis pourrons ajuster notre prévision selon l'avancement et les événements rencontrés pendant la prestation. Ces estimations, qu'elles soient formulées par vous ou par moi-même sont uniquement indicatives et non contractuelles. Par conséquent, si le projet est terminé en avance, ma prestation peut s'arrêter plus tôt que prévu, mais si celui-ci dépasse l'estimation initiale, il n'est pas garanti que je sois disponible pour continuer. Vous pouvez mettre fin à ma prestation à tout moment (voir section <em>Interruption de prestation</em>).

<div class="page-break"></div>

<h2>Responsabilité</h2>

Il est dans mon intérêt d'effectuer une prestation de la plus haute qualité possible, et qui soit la plus satisfaisante pour vous. Cependant, la nature de ma prestation à durée dynamique ne m'engage pas par rapport aux résultats de celle-ci. Il est de votre ressort de vous assurer que mes travaux vous conviennent, aillent dans la bonne direction au fur et à mesure de la prestation, et entrent dans le cadre de vos éventuelles dates butoir. Toute journée de travail effectuée pour {{{ global.consulting/development/contract/fr.company_name }}} implique donc que la société est satisfaite de la prestation effectuée sur les journées précédentes et souhaite poursuivre notre collaboration.

<p></p>

La clause de <em>Livraison continue</em> a pour but de vous aider dans cette évaluation, en rendant ma progression la plus transparente possible.

<h2>Livraison continue</h2>

Je m'engage à vous livrer au minimum une fois par semaine l'intégralité du code ou des documents que j'aurai produit pour vous. Vous pouvez également me faire une demande de livraison intégrale à tout moment sans justification que je devrai vous fournir sous 24 heures. Si votre environnement de développement le permet (ce qui ne peut donc être garanti), je mettrai en place une façon pour vous d'accéder à ma progression et mes livraisons en temps réel. Ce sera le cas si vous travaillez avec Dropbox par exemple.

<h2>Propriété intellectuelle</h2>

Le code et les documents produits par mes soins lors de ma prestation pour {{{ global.consulting/development/contract/fr.company_name }}} vous appartiennent. Si certains fichiers utilisés présentent des règles ou licences spécifiques, elles seront indiquées dans les fichiers en question. C'est par exemple le cas lors de l'utilisation de bibliothèques tierces.

<div class="page-break"></div>

<h2>Temps et lieu de travail</h2>

Je travaille sur la base de 8 heures par jour dont 1 heure de pause déjeuner, du lundi au vendredi.
Il m'est possible de travailler le week-end sans frais supplémentaires et sur simple demande par email, bien que ma disponibilité ne soit pas garantie.

<p></p>

Ma prestation sera effectuée soit au {{{ global.consulting/development/contract/fr.company_address }}}, soit à distance, selon votre préférence. En cas de travail le week-end, celui-ci sera effectué à distance.

<h2>Congé sans solde</h2>

5 jours de travail pour vous m'accordent 1 jour de congé sans solde optionnel qu'il m'est possible d'utiliser à tout moment. Dans le cas où je dépasse le nombre de journées de congé sans solde acquis par cette clause, une remise sera effectuée sur la facture de la période en cours. Cette remise s'élève à la moitié de mon tarif journalier par jour d'absence supplémentaire à hauteur de 10 jours ouvrés maximum.

<h2>Interruption de prestation</h2>

{{{ global.consulting/development/contract/fr.company_person }}}, ou à défaut l'un de ses supérieurs hiérarchiques, peut interrompre ma prestation à tout moment sur simple demande par email. Aucune justification n'est requise.

<p></p>

Dans le cas où je souhaiterais interrompre ma prestation pour vous, je m'engage à vous donner un préavis d'au moins {{{ global.consulting/development/contract/fr.cycle }}} jours adressé par email à {{{ global.consulting/development/contract/fr.company_person }}}, ou à défaut à l'un de ses supérieurs hiérarchiques.

<p></p>

Dans tous les cas, l'intégralité du code ou des documents que j'aurai produit pour {{{ global.consulting/development/contract/fr.company_name }}} vous sera livré à la fin de la prestation.

<div class="page-break"></div>

<h2>Paiements</h2>

J'enverrai chaque semaine à {{{ global.consulting/development/contract/fr.company_name }}} une facture que la société devra régler sous 15 jours. Dans le cas d'un changement tarifaire éventuel, un préavis de 15 jours minimum vous sera transmis par email.

<p></p>

Note : En tant que micro-entrepreneur, mes tarifs sont TTC et exempts de TVA.

<h2>Adresse email de communication</h2>

Toute communication, et en particulier tout communication liée à l'interruption de ma prestation, à un paiement, à ce contrat ou à ma prestation en général, doit s'effectuer par email à l'adresse {{{ global.consulting/development/contract/fr.email_perso }}}.

<p class="sep-36"></p>

Fait à [Ville], le [Date].

<p></p>

Signatures précédées des mentions "Lu et approuvé, bon pour accord" :

<p class="sep-36"></p>

<div class="panels">
    <div class="panel panel-50 text-center">
        Jonathan VERRECCHIA :
    </div>
    <div class="panel panel-50 text-center">
        {{{ global.consulting/development/contract/fr.company_person }}},<br> représentant {{{ global.consulting/development/contract/fr.company_name }}} :
    </div>
</div>

<div class="sep-72"></div>
