 <a href="/_pages/html5/html5-page-web-application-web-livre-dunod/img/livre-html5.jpg" target="_blank">
<img src="/_pages/html5/html5-page-web-application-web-livre-dunod/img/livre-html5.jpg" style="width: 300px; border: 1px solid #aaa" alt="Livre HTML5" title="Livre HTML5" />
</a>

Bonjour à tous chers lecteurs,

<p></p>

Ces 3 derniers mois ont été particulièrement intensifs, puisque j'ai co-écrit un livre nommé "HTML5 : De la page web à l'application web" avec mon confrère blogueur de l'HTML5 <a target="_blank" href="http://twitter.com/theystolemynick">Jean-Pierre Vincent</a>, créateur et animateur de <a target="_blank" href="http://braincracking.org">braincracking.org</a>. Ce livre est édité par <a target="_blank" href="http://www.dunod.com/">Dunod</a> et devrait être commercialisé courant juillet.

<p></p>

Notre livre est préfacé par <a target="_blank" href="http://twitter.com/paul_irish">Paul Irish</a> de Google, travaillant sur Chrome, également créateur de Modernizr, d'HTML5 Boilerplate et membre de l'équipe jQuery (c'est la grande classe donc !). Voici le programme détaillé de ce qui vous attend dans ce livre très complet de 250 pages riches en contenu (et en humour) :

<p></p>

L'introduction résume le cadre dans lequel évolue HTML5 et retrace son <strong>contexte historique</strong>. Nous abordons également les concepts d'<strong>amélioration progressive</strong> appliquée à HTML5 et débattons au sujet des <strong>interfaces natives</strong>.

<p></p>

La première partie couvre à peu près toutes les nouveautés qui se passent du côté du code HTML :

<ul>
  <li>
Le second chapitre vous fera donc découvrir la <strong>nouvelle syntaxe</strong> ultra allégée et laxiste d'HTML5, ainsi que les nombreux ajouts, suppressions et changements des <strong>balises</strong> HTML. Vous découvrirez également la notion de <strong>plan de page</strong>.
</li>
  <li>
      Le chapitre 3 va dépoussiérer nos vieux <strong>formulaires</strong> et leur rajouter une couche de modernité avec la <strong>validation natives</strong> des données, des nouvelles interfaces, et de très nombreuses autres nouveautés qui vont rendre vos formulaires plus interactifs et intuitifs.
  </li>
  <li>
    Le chapitre 4 aborde <strong>Microdata</strong>, qui va vous permettre d'enrichir la <strong>sémantique </strong>de vos pages et de faire apparaître plein de belles choses aux côtés du titre de votre site lors d'une recherche Google.
  </li>
  <li>
    Le chapitre 5 vous transformera en expert en <strong>accessibilité </strong>grâce à <strong>ARIA</strong>. Vous y verrez qu'en très peu d'efforts vous pourrez rendre votre site bien plus accessible.
  </li>
</ul>

La seconde partie se focalise sur les nouvelles APIs JavaScript :

<ul>
  <li>
    Le chapitre 6 vous plongera dans le monde impitoyable des APIs <strong>audio</strong> et <strong>vidéo</strong>. Des explications claires vous feront enfin comprendre les problématiques de <strong>codecs </strong>et de <strong>formats</strong>. Une fois cette barrière franchie vous verrez que ces nouvelles APIs sont extrêmement prometteuses.
  </li>
  <li>
    Le chapitre 7 sera l'occasion de dessiner tout un tas de choses en 2D dans une balise <strong>canvas</strong>. Vous réaliserez des filtres Photoshop-like, et serez sensibilisés aux problématiques du monde du jeu vidéo et des animations.
  </li>
  <li>
    Le chapitre 8 est un mélange d'API <strong>Drag and Drop</strong>, de <strong>File API</strong> et d'<strong>AJAX2</strong>. Il s'agit d'un ensemble d'APIs particulièrement adaptées à l'enrichissement d'un formulaire d'upload de fichiers tel que celui que nous avons avons réalisé en démonstration.
  </li>
  <li>
    Le chapitre 9 vous permettra de mettre en place la <strong>géolocalisation </strong>HTML5 ainsi que l'<strong>API Google Maps </strong>pour réaliser une application absolument vitale en randonnée !
  </li>
  <li>
    Le chapitre 10 permettra à votre application de fonctionner<strong> hors-ligne</strong>, en exploitant les capacités de <strong>l'AppCache </strong>ainsi que de l'API <strong>Web Storage</strong>. Cette problématique est particulièrement présente dans le domaine de la mobilité à cause des déconnexions fréquentes.
  </li>
  <li>
    Le chapitre 11 mettra en place la véritable révolution que sont les <strong>Web Sockets</strong> ainsi que les <strong>Server Sent Events</strong> pour construire des applications ultra réactives.
  </li>
</ul>

Enfin, la conclusion vous présentera toutes les autres APIs que vous pourrez encore explorer si vous souhaitez aller plus loin, abordera le CSS3, et les différents outils à utiliser pour mettre en production un projet HTML5 dès maintenant. Nous vous fournissons également un ensemble de <strong>fiches pratiques</strong> contenant de nombreux extraits de code pertinents qui vous feront gagner un temps précieux en cas d'oubli de telle ou telle  méthode.

<p></p>

Cet ouvrage s'efforce de couvrir, en plus du domaine technique, des problématiques importantes telles que le référencement, la maintenabilité, l'accessibilité, la mobilité, le support des navigateurs ainsi que les différentes méthodes de contournement pour faire fonctionner tout ça sous IE6, 7, 8 lorsque c'est possible.

<p></p>

Nous y avons mis notre coeur et notre passion pour l'HTML5, et espérons qu'en plus d'apprendre plein de choses, vous passerez de très bons moments en lisant notre ouvrage.

<p></p>

On se retrouve donc chez votre libraire en <strong>juillet</strong> pour partir ensemble à la conquête des applications web de demain.
