{{> _components/head }}
        {{> _components/sidebar }}
        {{> _components/main }}
                {{> _components/articletop }}
                    {{{ local.full-title }}}
                {{> _components/aftertitle }}
                {{> _pages/html5/html5-page-web-application-web-livre-dunod/content }}
                {{> _components/beforedate }}
                {{> _pages/html5/html5-page-web-application-web-livre-dunod/date }}
                {{> _components/articlebottom }}
{{> _components/bottom }}
