<h2>English</h2>

<ul>
  <li>
    <a href="https://github.com/verekia/js-stack-from-scratch" target="_blank">JavaScript Stack from Scratch - Step-by-Step Tutorial</a>
  </li>
  {{> _pages/slides/css-preprocessors/nav-item }}
  {{> _pages/initializr/responsive-template/nav-item }}
  {{> _pages/requirejs/build-simple-client-side-mvc-app-require-js/nav-item }}
  {{> _pages/less-css/dont-read-less-css-tutorial-highly-addictive/nav-item }}
</ul>

<h2>French</h2>

<ul>
  {{> _pages/html5/html5-page-web-application-web-livre-dunod/nav-item }}
  {{> _pages/initializr/initializr-generateur-template-html5-boilerplate/nav-item }}
  {{> _pages/html5/logo-html5-officiel-w3c/nav-item }}
  {{> _pages/css3/introduction-css3/nav-item }}
  {{> _pages/html5/introduction-html5/nav-item }}
  {{> _pages/html5/conferences-html5-devoxx-2010/nav-item }}
  {{> _pages/html5/tutoriel-application-web-offline-html5-cache-manifest/nav-item }}
  {{> _pages/css3/police-personnalisee-css3-font-face-google-font/nav-item }}
  {{> _pages/css3/ombre-css3-box-shadow/nav-item }}
  {{> _pages/html5/tutoriel-api-google-maps-geolocalisation-html5/nav-item }}
  {{> _pages/html5/tutoriel-geolocalisation-html5/nav-item }}
</ul>
