Cette simple page de démonstration illustre les capacité des smartphones (iPhone et Android notamment) à considérer un lien vers une page web comme étant une application web. En ajoutant cette page en favoris et sur le bureau de votre smartphone, une icone spécifique apparaîtra et vous pourrez accéder à la page sans connexion internet si vous l'avez visité une fois auparavant.

<p></p>

Voici la {{> _pages/demo/exemple-application-web-offline-html5-cache-manifest/demo/link }}démonstration d'application web offline HTML5 avec le cache manifest</a>.

<p></p>

Le fonctionnement de cette page est décrit dans ce {{> _pages/html5/tutoriel-application-web-offline-html5-cache-manifest/link }}Tutoriel pour réaliser une application web HTML5 offline avec le cache manifest</a>.

<p></p>

Voici le code source de la page en question :

<script src="https://gist.github.com/verekia/74549ae5be972f1230c40acd9d468eeb.js"></script>

Le fichier <code>site.manifest</code> :

<script src="https://gist.github.com/verekia/ec6957f695af4bddad9686d987e5fed8.js"></script>

Le <code>.htaccess</code> :

<script src="https://gist.github.com/verekia/dca7477cf94738d1eca411fc2572c3fb.js"></script>
