{{> _components/head }}
        {{> _components/sidebar }}
        {{> _components/main }}
                {{> _components/articletop }}
                    {{{ local.full-title }}}
                {{> _components/aftertitle }}
                {{> _pages/demo/exemple-application-web-offline-html5-cache-manifest/content }}
                {{> _components/beforedate }}
                {{> _pages/demo/exemple-application-web-offline-html5-cache-manifest/date }}
                {{> _components/articlebottom }}
{{> _components/bottom }}
