Cet exemple affiche une carte utilisant l'API Google Maps ainsi que les données de géolocalisation afin de situer l'utilisateur grâce au GPS de son téléphone. L'application affiche le tracé du parcours de l'utilisateur s'il se déplace et place un marqueur à chaque nouvelles coordonnées reçues par le service de géolocalisation :

<p></p>

{{> _pages/demo/exemple-geolocalisation-html5-api-google-maps/demo/link }}Démonstration de géolocalisation HTML5 avec l'API Google Maps</a>.

<p></p>

Cet exemple est le produit final du {{> _pages/html5/tutoriel-api-google-maps-geolocalisation-html5/link }}Tutoriel sur l'API Google Maps avec la géolocalisation HTML5</a>.

<p></p>

Code source de la démonstration :

<script src="https://gist.github.com/verekia/88382814694e9943d39a3cc3127e7f27.js"></script>
