<h1 class="text-center">Consulting Services</h1>

<p>
Hi there! I'm <a href="/" target="_blank">Jonathan Verrecchia</a>, a freelance Front-End engineer, previously employed at <a target="_blank" href="http://www.yelp.com">Yelp</a>. I can write JavaScript or CSS for you, in your office or remotely. I can also offer counseling for your project or review your codebase to help you take it to the next level. Here is my {{> _pages/resume/link }}resume</a> and my <a href="https://github.com/verekia/js-stack-from-scratch" target="_blank">JavaScript stack</a>.
</p>

<p class="sep-24"></p>

<p class="text-center">Email me at <a href="mailto:{{{ global.consulting-email }}}">{{{ global.consulting-email }}}</a> if you're interested.</p>

<p class="text-center">
  Next availability: January 2017
</p>

<p class="sep-36"></p>

<img class="full-size-img" src="{{> _components/images/jonathan-verrecchia-bridge }}">
