<li class="nav-item-hidden js-nav-item-hidden">
    {{> _pages/initializr/initializr-generateur-template-html5-boilerplate/link }}{{{ global.initializr/initializr-generateur-template-html5-boilerplate.short-title }}}</a>
</li>
