<h1 class="text-center">CSS Code Review Agreement</h1>
<h2 class="text-center">English version</h2>
<div class="sep-48"></div>

Between <em>I</em>, <strong>Jonathan VERRECCHIA</strong>, freelance Front-End Engineer and Micro-Entrepreneur, located at 18 rue de l'Eglise, Vincennes, 94300, France &ndash; and <em>you</em>, [company name] located at [company address].

<p></p>

This agreement establishes the terms and conditions of my CSS code review service. It is free of complicated legal terms or long passages of unreadable text; and intends to establish a clean and transparent foundation to our collaboration.


<h2>Acronyms</h2>

In order to keep this agreement readable, the following acronyms will be used as umbrella terms when referring to file types:

<ul>
  <li><strong>HTML</strong> (as in "HTML files" or "HTML code" for instance) refers to HTML or any HTML-derivated markup language or templating format, such as HAML, Jade, Mustache, Handlebars, Jinja, Smarty, Slim, Mako, Cheetah, and such.</li>
  <li><strong>CSS</strong> (as in "CSS files" or "CSS code" for instance) refers to CSS or any CSS-derivated stylesheet format, such as SCSS, SASS, LESS, Stylus, and such.</li>
  <li><strong>JS</strong> (as in "JS files" or "JS code" for instance) refers to JavaScript or any JavaScript-derivated browser-scripting format, such as CoffeeScript, GWT, and such.</li>
</ul>

I will explicitly refer to <em>plain</em> HTML/CSS/JS when appropriate.


<h2>Confidentiality and Non-Disclosure</h2>

You agree not to share any confidential or sensitive information with me. I neither need access to your entire codebase, nor all of your HTML/CSS/JS files to perform my review. The only files I need are non-confidential CSS files, and a few HTML and JS files that are representative of your codebase. You should typically avoid sharing files related to features of your website that are not public with me. Additionally:

<ul>
  <li>I will not use your files for any other purpose than performing a code review.</li>
  <li>I will not intentionally transmit or expose your files to anyone else, in particular competitors or other companies from your industry, or the general public.</li>
  <li>I will protect your data as carefully as I protect my personal confidential data.</li>
  <li>I will not keep any of your code files after the review is done.</li>
</ul>


<h2>What you agree to do</h2>

You agree to share with me HTML/CSS/JS files that are relevant to my review.



If the files you share with me contain sensitive information, for instance

If possible, you should only share with me the relevant part of your codebase, to reduce the risks of leaks.


I do not access to 100% of your HTML/CSS/JavaScript

If you do share with me files that contain sensitive information,

In order to reduce risks of unintentional leaks of your code, you will revoke my access to your code repository (if previously shared with me), and I will 


<h2>What I will deliver</h2>

I will analyze your code and deliver a document containing advice, suggestions, code samples, and refactored examples tailored to your codebase.

The size of the produced document will be <em>as long as needed</em> &ndash; which basically guarantees nothing.

However it is in my best interest to deliver the most satisfying review I could possibly produce, and this is what I intend to do.

My motto is <em>All Killer, No Filler</em>, which means I produce high-quality and high value for money content, and will not waste your time with dull advice just to create a minimum volume.

<p></p>

Even though you can share with me code written in any of the listed formats above, the code samples I will deliver as part of my review will be using plain HTML, CSS, and JS. If a section of my review is specifically about CSS preprocessors, my code samples will be written using either SCSS, SASS, LESS, or Stylus, to match your codebase. If you are not using a CSS preprocessor, or if this preprocessor is not listed here, I will use SCSS.


<h2>Video Call</h2>

Once you have processed all the feedback of my review, we can arrange a 2-hour video call to discuss the review and answer any questions you may have.


<h2>Liability</h2>

<strong>You are responsible for any change you make to your codebase based on my review, advice, or any interaction with me</strong>. I will make my feedback as clear and well-documented as possible to make it easy for you to integrate my suggestions, but since you will have to make the changes yourself, I cannot guarantee that you will not break stuff. Someone knowledgeable in front-end development should handle these changes, and you agree to not hold me liable for any damage caused to your codebase or business that would be related to my work for you.


<h2>Reference</h2>

You allow me to mention the fact that I have worked for your company as a reference on my various professional pages (typically my personal website, LinkedIn, freelancing websites). These mentions may include your logo or company name, and may contain a short description or a link to your website. They will not contain any sensitive information about your business.

<p></p>

You are free to change your mind and ask me to remove your reference at anytime, which I would do within a month after receiving your request.

<h2>Delivery</h2>

The latest I will deliver the code review to you will be one month after I receive your payment and the code you want me to review.
At the latest one month after the payment has been made and the code provided.




<h2>Payment</h2>

The price for this code review is 1250€, paid upfront.

My status as a <em>micro-autoentrepreneur</em> in France involves an exemption of VAT, which means this is a unique price that excludes VAT.

You agree to pay all charges associated with international transfers of funds.


<h2>Governing Law</h2>

<p></p>

This agreement and any dispute or claim arising out of or in connection with it shall be governed by and construed in accordance with the laws of France. The version of this agreement that binds both parties is the French version, the English version being provided for information purposes only.


<div class="sep-60"></div>

<h1 class="text-center">Contrat de revue de code CSS</h1>
<h2 class="text-center">Version française</h2>
<div class="sep-48"></div>


Accord de non-divulgation
