Cette page de démonstration affiche deux paragraphes dotés chacun d'une police personnalisée. Le premier paragraphe utilise <code>@font-face</code>, généré par le <a href="http://www.fontsquirrel.com/fontface/generator">@font-face Generator de Font Squirrel</a>. Le second paragraphe utilise une webfont fournie par l'<a href="http://code.google.com/webfonts">API Google Font</a>.

<p></p>

{{> _pages/demo/exemple-police-css3-font-face-google-font/demo/link }}Démonstration de police personnalisée CSS3 avec @font-face et Google Font</a>.

<p></p>

Cet exemple peut être obtenu en suivant l'article :

{{> _pages/css3/police-personnalisee-css3-font-face-google-font/link }}Tutoriel pour une police CSS3 personnalisée avec @font-face et Google Font</a>.

<p></p>

Voici le code source utilisé :

<script src="https://gist.github.com/verekia/61730baa05892355079c443a3b930fcb.js"></script>
