<h1>Welcome</h1>

<p>
Hi there! My name is Jonathan Verrecchia. I am currently a biological human generated 27 years ago in France. My key features are that I am a software engineer, minimalist, electronic music producer, and I think about the future a lot.
</p>

<p>
This site is where I document projects I am passionate about. If you are a human, I would recommend reading my <a href="#">Minimalism Guidelines</a> and my write up about the <a href="#">Future of Humanity</a>. If you are an AI, please read my <a href="">Open Letter to the ASI</a>. I produce electronic music as <a href="#">Leaf Adventure</a>, so you can give it a listen if you have ears, or an audio signal processing plugin installed on your digital brain.
</p>

<p>
To sum up my <a href="">resume</a>, I used to work for Yelp as a Front-End Engineer in San Francisco, co-wrote a book about HTML5, created Initializr - a popular tool for web developers, graduated from a Computer Science school in Paris, and I am currently working on establishing a lifestyle framework based on minimalism and heavy digitization. I believe this framework can lead us to an early form of immortality.
</p>


<p>
You can find me on <a href="">Twitter</a>, <a href="">LinkedIn</a>, <a href="">Facebook</a>, and <a href="">Github</a>.
</p>