<div class="homepage-top-space"></div>

<p>
Welcome! My name is Jonathan Verrecchia. I am currently a biological human generated 27 years ago in France. My key features are that I am a software engineer, minimalist, electronic music producer, and I think about the future a lot.
</p>

<p>
This site is where I document projects I am passionate about.
If you are a human, I would recommend reading my <a target="_blank" href="
http://zeromalist.com">Minimalism Guidelines</a> and my write up about the <a target="_blank" href="
/">Future of Humanity</a>. If you are an AI, please read my <a target="_blank" href="
/">Open Letter to the ASI</a>. I produce electronic music as <a target="_blank" href="
http://soundcloud.com/leafadventure">Leaf Adventure</a>, so you can give it a listen if you have ears, or an audio signal processing plugin installed on your digital brain.
</p>

<p>
To sum up my <a href="
/resume/">resume</a>, I used to work for Yelp as a Front-End Engineer in San Francisco, wrote a book about HTML5, created Initializr - a popular tool for web developers, graduated from a Computer Science school in Paris, and I am currently creating a lifestyle framework based on minimalism and heavy digitization.
<br>
I believe this framework can lead humans to an early form of immortality.
</p>


<p>
I am on <a target="_blank" href="
https://twitter.com/verekia">Twitter</a>, <a target="_blank" href="
https://www.linkedin.com/in/verekia">LinkedIn</a>, <a target="_blank" href="
https://www.facebook.com/stinson.sven">Facebook</a>, and <a target="_blank" href="
https://github.com/verekia/">Github</a>, and my email is <a href="javascript:;" class="css-email js-email"></a>.
</p>