<div class="homepage-top-space"></div>

Welcome! I am Jonathan Verrecchia, a French
<a href="
/consulting/" target="_blank">
freelance</a> Front-End
<a href="
/resume/" target="_blank">
Engineer</a>, electronic music <a target="_blank" href="
http://soundcloud.com/leafadventure">producer</a>, and <a target="_blank" href="
/zeromalist/">minimalist</a>.

This site is where I document my projects.

<img class="full-size-img" src="/_static/img/jonathan-verrecchia-bridge.jpg">

I am on <a target="_blank" href="
https://twitter.com/verekia">Twitter</a>, <a target="_blank" href="
https://www.linkedin.com/in/verekia">LinkedIn</a>, <a target="_blank" href="
https://www.facebook.com/stinson.sven">Facebook</a>, <a target="_blank" href="
https://github.com/verekia/">GitHub</a>, and my email is <a href="javascript:;" class="css-email js-email"></a>.

