<div class="nav-column">
    <div class="nav-content">
        <div class="nav-signature">
            <div class="nav-signature-name">
                <a href="/">Jonathan Verrecchia</a>
            </div>
            <div class="twitter-button-container" style="opacity: 0">
                <a href="https://twitter.com/verekia" class="twitter-follow-button" data-show-count="true" data-size="large" data-dnt="true">Follow @verekia</a>
            </div>
        </div>
        <div class="nav-list">
            <!-- <script>
            if (window.location.pathname !== '/') {
                document.write('<a href="/" class="homepage-link">Go back to the homepage</a>');
            };
            </script> -->
            <h2>Lifestyle <a href="javascript:;" class="expand-nav-link js-more">(more)</a></h2>
            <ul>
                <li>
                    <a href="http://zeromalist.com" target="_blank">Life Framework
                    </a>
                </li>
                <li>
                    <a href="/" target="_blank">Minimalism Coaching
                    </a>
                </li>
            </ul>
            <h2>Transhumanism</h2>
            <ul>
                <li>
                    <a href="/" target="_blank">The Future of Humanity
                    </a>
                </li>
                <li>
                    <a href="/" target="_blank">Open Letter to the ASI
                    </a>
                </li>
            </ul>
            <h2>Music</h2>
            <ul>
                <li>
                    <a href="http://soundcloud.com/leafadventure" target="_blank">Leaf Adventure
                    </a>
                </li>
                <li>
                    <a href="/">Music Production Lessons
                    </a>
                </li>
            </ul>
            <h2>Code <a href="javascript:;" class="expand-nav-link js-more">(more)</a></h2>
            <ul>
                <li>
<a href="/slides/css-preprocessors/">
CSS Preprocessors Talk
                    </a>
                <li>
<a href="/initializr/responsive-template/">
Responsive Initializr
                    </a>
            </ul>

            <!-- Warning! Adjust vertical media queries after adding links -->

        </div>
        <select class="nav-dropdown">
        </select>
    </div>
</div>
