<div class="nav-column">
    <div class="nav-content">
        <div class="nav-signature clearfix">
            <h1 class="nav-signature-name">
                <a href="/">Jonathan Verrecchia</a>
            </h1>
            <div class="twitter-button-container" style="opacity: 0">
                <a href="https://twitter.com/verekia" class="twitter-follow-button" data-show-count="true" data-lang="en" data-size="large" data-dnt="true">Follow @verekia</a>
            </div>
        </div>
        <div class="nav-list js-nav-list">
            <div class="js-nav-list-section">
                <h2>Lifestyle <a href="javascript:;" class="expand-nav-link js-nav-expand">(more)</a></h2>
                <ul>
<li>
<a href="
http://zeromalist.com" target="_blank">
Life Framework</a>
</li><li>
<a href="
/">
Minimalism Coaching</a>
</li><li class="nav-item-hidden js-nav-item-hidden">
<a href="
/slides/todo-zero/">
Getting Things Done</a>
</li>
<!--                     <li class="nav-item-hidden js-nav-item-hidden">
                        <a href="/" target="_blank">Going Vegan
                        </a>
                    </li>
                    <li class="nav-item-hidden js-nav-item-hidden">
                        <a href="/" target="_blank">Single Point of Failure
                        </a>
                    </li>
                    <li class="nav-item-hidden js-nav-item-hidden">
                        <a href="/" target="_blank">Music When Commuting
                        </a>
                    </li> -->
                </ul>
            </div>
            <div class="js-nav-list-section">
                <h2>Transhumanism</h2>
                <ul>
<li>
<a href="
/" target="_blank">
The Future of Humanity</a>
</li><li>
<a href="
/" target="_blank">
Open Letter to the ASI</a>
</li>                </ul>
            </div>
            <div class="js-nav-list-section">
                <h2>Music</h2>
                <ul>
<li>
<a href="
http://soundcloud.com/leafadventure" target="_blank">
Leaf Adventure</a>
</li><li>
<a href="
/">
Music Production Lessons</a>
</li>                </ul>
            </div>
            <div class="js-nav-list-section">
                <h2>Code <a href="javascript:;" class="expand-nav-link js-nav-expand">(more)</a></h2>
                <ul>
<li>
<a href="
/slides/css-preprocessors/">
CSS Preprocessors Talk
</a>
</li><li>
<a href="
/initializr/responsive-template/">
Responsive Initializr
</a>
</li><li class="nav-item-hidden js-nav-item-hidden">
<a href="
/requirejs/build-simple-client-side-mvc-app-require-js/">
RequireJS Tutorial</a>
</li><li class="nav-item-hidden js-nav-item-hidden">
<a href="
/less-css/dont-read-less-css-tutorial-highly-addictive/">
Less CSS Tutorial</a>
</li>                </ul>
            </div>
        </div>
        <select class="nav-dropdown js-nav-dropbown">
            <option class="js-select-blank-option" value=""></option>
            <option value="
/">Homepage</option>
            <optgroup label="Lifestyle">
<option value="
http://zeromalist.com">
Life Framework</option><option value="
/">
Minimalism Coaching</option><option value="
/slides/todo-zero/">
Getting Things Done</option>            </optgroup>
            <optgroup label="Transhumanism">
<option value="
/">
The Future of Humanity</option><option value="
/">
Open Letter to the ASI</option>            </optgroup>
            <optgroup label="Music">
<option value="
http://soundcloud.com/leafadventure">
Leaf Adventure</option><option value="
/">
Music Production Lessons</option>            </optgroup>
            <optgroup label="Code">
<option value="
/slides/css-preprocessors/">
CSS Preprocessors Talk
</option><option value="
/initializr/responsive-template/">
Responsive Initializr
</option><option value="
/requirejs/build-simple-client-side-mvc-app-require-js/">
RequireJS Tutorial</option><option value="
/less-css/dont-read-less-css-tutorial-highly-addictive/">
Less CSS Tutorial</option>            </optgroup>
        </select>
    </div>
</div>
