<form action="//zeromalist.us11.list-manage.com/subscribe/post?u=c5c254afb9f80f71a57b5a180&amp;id=eab58f71d8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mailchimp-form" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" class="mailchimp-form-input" id="mce-EMAIL" placeholder=" Your email address" required>
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_c5c254afb9f80f71a57b5a180_eab58f71d8" tabindex="-1" value=""></div>
    <input type="submit" value="Subscribe to my newsletter" name="subscribe" id="mc-embedded-subscribe" class="mailchimp-form-button">
</form>
