{{> _components/head }}
        {{> _components/sidebar }}
        {{> _components/main }}
                {{> _components/articletop }}
                    {{{ local.full-title }}}
                {{> _components/aftertitle }}
                {{> _pages/requirejs/build-simple-client-side-mvc-app-require-js/content }}
                {{> _components/beforedate }}
                {{> _pages/requirejs/build-simple-client-side-mvc-app-require-js/date }}
                {{> _components/articlebottom }}
{{> _components/bottom }}
