{{> _components/head }}
        {{> _components/sidebar }}
        {{> _components/main }}
                {{> _components/articletop }}
                    {{{ local.full-title }}}
                {{> _components/aftertitle }}
                {{> _pages/slides/css-preprocessors/content }}
                {{> _components/beforedate }}
                {{> _pages/slides/css-preprocessors/date }}
                {{> _components/articlebottom }}
{{> _components/bottom }}
