{{> _components/head }}
        {{> _components/sidebar }}
        {{> _components/main }}
                {{> _components/articletop }}
                    {{{ local.full-title }}}
                {{> _components/aftertitle }}
                {{> _pages/html5/tutoriel-api-google-maps-geolocalisation-html5/content }}
                {{> _components/beforedate }}
                {{> _pages/html5/tutoriel-api-google-maps-geolocalisation-html5/date }}
                {{> _components/articlebottom }}
{{> _components/bottom }}
