        {{> _components/js-jquery }}
        {{> _components/js-twitter-button }}
        {{> _components/js-email }}
        {{> _components/js-brainventory }}
        {{> _components/js-analytics }}
    </body>
</html>
