            </div>
        </div>

        {{> _components/js-jquery }}
        {{> _components/js-twitter-button }}

        <script>
            // The blank option avoids text flicking at loading
            $('.js-select-blank-option').remove();

            $('.js-nav-dropbown').val(window.location.pathname);

            $('.js-nav-dropbown').change(function(){
                window.location = $(this).val();
                // Note to self: opening a new tab using window.open on mobile blocks a popup
                // so I ended up using a simple window.location
            });

        </script>
        {{> _components/js-email }}
        {{> _components/js-analytics }}
    </body>
</html>
