<style>

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(data:application/font-woff;charset=utf-8;base64,{{> _components/fonts/noto-sans-normal-latin }}) format('woff');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(data:application/font-woff;charset=utf-8;base64,{{> _components/fonts/noto-sans-bold-latin }}) format('woff');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Sans Italic'), local('NotoSans-Italic'), url(data:application/font-woff;charset=utf-8;base64,{{> _components/fonts/noto-sans-italic-latin }}) format('woff');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'), url(data:application/font-woff;charset=utf-8;base64,{{> _components/fonts/noto-sans-bolditalic-latin }}) format('woff');
}

</style>
