<style>

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(data:application/font-woff;charset=utf-8;base64,{{> _components/fonts/noto-serif-normal-latin }}) format('woff');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url(data:application/font-woff;charset=utf-8;base64,{{> _components/fonts/noto-serif-bold-latin }}) format('woff');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Serif Italic'), local('NotoSerif-Italic'), url(data:application/font-woff;charset=utf-8;base64,{{> _components/fonts/noto-serif-italic-latin }}) format('woff');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'), url(data:application/font-woff;charset=utf-8;base64,{{> _components/fonts/noto-serif-bolditalic-latin }}) format('woff');
}

</style>
