<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{{ local.title }}}</title>
        <meta name="description" content="{{{ local.description }}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#000000">
        <link rel="shortcut icon" type="image/png" href="{{> _components/images/favicon }}">
        <link rel="apple-touch-icon" href="{{> _components/images/apple-touch-icon }}">
        <link rel="icon" sizes="192x192" href="{{> _components/images/android-icon-192 }}">

        {{> _components/css-noto-sans-data }}
        {{> _components/css-noto-serif-data }}
        {{> _components/css-normalize }}
        {{> _components/css-main }}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
