<form action="//verekia.us12.list-manage.com/subscribe/post?u=bd9ce304dd2b40317d5ecdad2&amp;id=9ada25633a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mailchimp-form" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" class="mailchimp-form-input" id="mce-EMAIL" placeholder=" Your email address" required>
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_bd9ce304dd2b40317d5ecdad2_9ada25633a" tabindex="-1" value=""></div>
    <input type="submit" value="Subscribe to my newsletter" name="subscribe" id="mc-embedded-subscribe" class="mailchimp-form-button">
</form>
