<li class="nav-item-hidden js-nav-item-hidden">
    {{> _pages/less-css/dont-read-less-css-tutorial-highly-addictive/link }}{{{ global.less-css/dont-read-less-css-tutorial-highly-addictive.short-title }}}</a>
</li>
